body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR MERAH */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: red;
  color: white;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HOME BACKGROUND */
.hero {
  height: 400px; /* cocok untuk 16:4 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("images/home.jpg");
  background-size: cover;
  background-position: center;
}

/* TEKS HOME (WARNA HITAM SESUAI REQUEST) */
.hero h2 {
  color: black;
  font-size: 32px;
  font-weight: bold;
}

/* PRODUK AREA */
.produk {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px;
  background: black;
}

/* CARD PRODUK */
.card {
  text-align: center;
  width: 220px;
  background: red;
  padding: 15px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  color: white;
}

.harga {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: red;
  color: white;
}
