body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HOME */
.hero {
  text-align: center;
  padding: 160px 20px;
  color: white;

  background-image: url("images/home.jpg");
  background-size: cover;
  background-position: center;
}

/* PRODUK */
.produk {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

.card {
  width: 220px;
  text-align: center;
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

/* HARGA */
.harga {
  color: green;
  font-weight: bold;
  font-size: 18px;
}
