body {
  margin: 0;
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
}

header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px;
  background: #f2f2f2;
}

.hero button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.produk {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  width: 200px;
  text-align: center;
}

.card img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
}
